:host {

  .candidate {
    &__box {
      border: 1px solid var(--secondary);
      border-radius: 15px;
      box-sizing: border-box;
      width: 100%;
    }

    &__data {
      padding: 25px;
      width: 100%;

      &--line1 {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: var(--text-color);
      }

      &--line2 {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        color: var(--primary);
      }

      &--line3 {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        color: var(--text-color);
      }
    }

    &__photo {
      margin-right: 5%;
      margin-left: 2%;
    }

    &__avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid var(--secondary)
    }

    &__button-cart {
      position: absolute;
      right: 70px;
      bottom: 70px;
      width: 80px;
      height: 80px;
      color: var(--white);
      z-index: 2;
    }
  }


  ::ng-deep .mat-tab-group {
    .mat-tab-header {
      .mat-tab-label-container {
        .mat-tab-list {
          .mat-tab-labels {
            .mat-tab-label {
              width: 33.33% !important;
              height: 40px !important;
              background-color: var(--primary) !important;
              color: var(--white) !important;

              &.mat-tab-label-active {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

}
