<section class="candidate"
         fxFlex="100%"
         fxLayout="column"
         fxLayoutAlign="start start">
  <div class="candidate__box">
    <div class="candidate__data"
         fxLayout="row"
         fxLayoutAlign="start start">
      <div class="candidate__photo"
           fxLayout="column"
           fxLayoutAlign="start center">
        <img [src]="imageUser"
             class="candidate__avatar"
             alt="photo">
        <button aria-label="voltar"
                class="mt-2"
                color="primary"
                fxFlexAlign="start"
                mat-stroked-button
                type="submit"
                (click)="back()">
          <mat-icon>keyboard_backspace</mat-icon>
          VOLTAR
        </button>
      </div>
      <div class="candidate__data--itens w-100"
           fxLayout="row layout-wrap"
           fxLayoutAlign="space-between start">
        <div class="candidate__data--item mb-3"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">
          <span class="candidate__data--line1">NOME</span>
          <span class="candidate__data--line2">{{matricula?.candidato?.nome}}</span>
          <span class="candidate__data--line3">{{matricula?.candidato?.cpf}}</span>
        </div>

        <div class="candidate__data--item mb-3"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">
          <span class="candidate__data--line1">RENACH</span>
          <span
                class="candidate__data--line2">{{matricula?.processo?.renach ? matricula?.processo?.renach : '-'}}</span>
        </div>

        <div class="candidate__data--item mb-3"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">
          <span class="candidate__data--line1">CFC</span>
          <span class="candidate__data--line2">{{matricula?.cfcNome ? matricula?.cfcNome : '-'}}</span>
        </div>

        <div class="candidate__data--item  mb-3"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">
          <span class="candidate__data--line1">SITUAÇÃO</span>
          <span class="candidate__data--line2">{{matricula?.ativo ? 'Ativo' : 'Inativo'}}</span>
        </div>

        <div class="candidate__data--item"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">
          <span class="candidate__data--line1">MATRICULA</span>
          <span class="candidate__data--line2">{{matricula?.numero}}</span>
        </div>

        <div class="candidate__data--item"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">
          <span class="candidate__data--line1">SERVIÇO</span>
          <span
                class="candidate__data--line2">{{matricula?.processo?.servico?.nome ? matricula?.processo?.servico?.nome : '-'}}</span>
        </div>

        <div class="candidate__data--item"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">
          <span class="candidate__data--line1">PRÓXIMO AGENDAMENTO</span>
          <span class="candidate__data--line2">-</span>
          <!--   <span class="candidate__data--line2">{{agendamentos[0]?.aulas[0]?.auxCursoDescricao ?
            agendamentos[0]?.aulas[0]?.auxCursoDescricao : 'Sem Agendamento Marcado'}} </span>
          <span class="candidate__data--line3">{{agendamentos[0]?.aulas[0]?.inicio | date:'dd/MM/yyyy'}}</span> -->
        </div>

        <div class="candidate__data--item"
             fxFlex="25%"
             fxLayout="column"
             fxLayoutAlign="start start">

          <span class="candidate__data--line1">CRÉDITOS</span>
          <span class="candidate__data--line2">-</span>
        </div>

      </div>

    </div>
    <mat-tab-group [selectedIndex]="index"
                   (selectedTabChange)="changeIndex($event)">
      <mat-tab class="candidate__first"
               label="DADOS CADASTRAIS">
        <app-enrollment-data-register [enrollment]="matricula"></app-enrollment-data-register>
      </mat-tab>
      <mat-tab class="candidate_fifth"
               label="PRODUTOS">
        <app-enrollment-data-products></app-enrollment-data-products>
      </mat-tab>
      <mat-tab class="candidate_fourth"
               label="CONTRATOS">
        <app-enrollment-data-contracts></app-enrollment-data-contracts>
      </mat-tab>
      <mat-tab class="candidate__second"
               label="AGENDAMENTO">
        <app-enrollment-data-scheduling></app-enrollment-data-scheduling>
      </mat-tab>
      <mat-tab class="candidate_third"
               label="CREDITOS">
        <app-enrollment-data-credits [creditos]="creditos"></app-enrollment-data-credits>
      </mat-tab>
    </mat-tab-group>
  </div>
  <button class="candidate__button-cart"
          mat-fab
          *ngIf="showCartIcon"
          (click)="openCart()"
          color="primary">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</section>
