button {
    position: absolute !important;
    bottom: 0;
    right: 0;
    margin: 10px;
}

nb-sidebar {
    width: 12rem !important;
}

nb-layout-footer {
    text-align: center;
}

app-header {
    width: 100%;
    color: white;
}