:host {
  .new-confirm-dialog {
    &__title {
      font-family: Avenir;
      color: var(--primary);
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 49px;
      margin: 10px 0 10px 25px;
    }

    &__sub-title-box {
      height: 67px;
      width: 100%;
      background-color: rgba(var(--secondary-rgb), 0.5);
      padding: 25px;
    }

    &__sub-title-text {
      font-family: AvenirCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: rgba(65, 65, 65, 0.5);
    }

     &__item {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      color: var(--text-color)
    }

    &__description {
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 25px;
      color: var(--primary);
    }

    &__content {
      padding: 25px 25px 0 25px;
      width: 100%;
    }

    &__actions {
      padding: 20px 25px 10px;
      width: 100%;
    }

    &__cancel {
      text-decoration: underline;
    }
  }
}

::ng-deep .mat-dialog-container {
  padding-right: 0;
  padding-left: 0;
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  border-radius: 15px;
}
