<section class="cfc">

  <app-header-inside-page></app-header-inside-page>
  <app-header-buttons [buttons]="buttons"
                      [disabled]="disabled"
                      [object]="cfc"
                      [valid]="cfcForm.valid"
                      (buttonsEmmiter)="buttonsActions($event)"> </app-header-buttons>

  <form [formGroup]="cfcForm"
        fxLayout="row layout-wrap"
        fxLayoutAlign="space-between start"
        class="w-100">

    <h2 fxFlex="100%"
        class="sub-title">DADOS DO CFC</h2>

    <div fxFlex="100%"
         fxLayout="row layout-wrap"
         fxLayoutGap="48px"
         class="mb-4">
      <span>
        <mat-checkbox color="primary"
                      formControlName="ativo">Ativo</mat-checkbox>
      </span>

      <span>
        <mat-checkbox color="primary"
                      formControlName="matriz">Matriz</mat-checkbox>
      </span>

      <span>
        <mat-checkbox color="primary"
                      formControlName="associado">Associado</mat-checkbox>
      </span>

      <span>
        <mat-checkbox color="primary"
                      formControlName="relatorioMarcacaoExame">Relatório Marcação de Exame</mat-checkbox>
      </span>

      <span>
        <mat-checkbox color="primary"
                      formControlName="marcacaoExame">Marcação de Exame</mat-checkbox>
      </span>

    </div>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput
             type="text"
             formControlName="nome">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Nome Fantasia</mat-label>
      <input matInput
             type="text"
             formControlName="nomeFantasia">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Razão Social</mat-label>
      <input matInput
             type="text"
             formControlName="razaoSocial">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    appearance="outline">
      <mat-label>CNPJ *</mat-label>
      <input matInput
             type="text"
             appCnpjValidator
             formControlName="cnpj"
             [mask]="'00.000.000/0000-00'">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Usuário Reunião Online</mat-label>
      <input matInput
             type="email"
             formControlName="usuarioReuniaoOnline">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Classificação</mat-label>
      <input matInput
             type="number"
             formControlName="classificacao">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Código CFC Detran *</mat-label>
      <input matInput
             type="number"
             formControlName="codCfcDetran">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Código Filial Detran *</mat-label>
      <input matInput
             type="text"
             formControlName="codFilialDetran">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Portaria</mat-label>
      <input matInput
             type="text"
             formControlName="portaria">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Processo</mat-label>
      <input matInput
             type="text"
             formControlName="processo">
    </mat-form-field>

    <mat-form-field fxFlex="24%"
                    appearance="outline">
      <mat-label>Status Detran</mat-label>
      <input matInput
             type="number"
             formControlName="statusDetranId">
    </mat-form-field>

    <div class="pos-relative candidate-register__input-left"
         fxFlex="46%">
      <app-unidade-detran-autocomplete class="auto-complete"
                                       formControlName="unidadeDetranId"
                                       [fControl]="cfcForm.controls.unidadeDetranId">
      </app-unidade-detran-autocomplete>
    </div>



    <!-- ------ CONTATO ------ -->

    <h2 fxFlex="100%"
        class="sub-title">Contato</h2>

    <mat-form-field fxFlex="33%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput
             type="text"
             formControlName="telefone"
             [mask]="'(00) 0000-0000'">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Email de Contato</mat-label>
      <input matInput
             type="email"
             formControlName="emailContato">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    class="cfc__edit"
                    appearance="outline">
      <mat-label>Email de Faturamento</mat-label>
      <input matInput
             type="email"
             formControlName="emailFaturamento">
    </mat-form-field>

    <!-- ------ ENDEREÇO ------ -->

    <h2 fxFlex="100%"
        class="sub-title">Endereço</h2>

    <mat-form-field fxFlex="60%"
                    appearance="outline">
      <mat-label>Rua</mat-label>
      <input matInput
             type="text"
             formControlName="logradouro">
    </mat-form-field>

    <mat-form-field fxFlex="13%"
                    appearance="outline">
      <mat-label>Número</mat-label>
      <input matInput
             type="text"
             formControlName="numero">
    </mat-form-field>

    <mat-form-field fxFlex="25%"
                    appearance="outline">
      <mat-label>Estado</mat-label>
      <input matInput
             type="text"
             formControlName="estado">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput
             type="text"
             formControlName="cep"
             [mask]="'00.000-000'">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Cidade</mat-label>
      <input matInput
             type="text"
             formControlName="cidade">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Bairro</mat-label>
      <input matInput
             type="text"
             formControlName="bairro">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Complemento</mat-label>
      <input matInput
             type="text"
             formControlName="complemento">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Latitude</mat-label>
      <input matInput
             type="number"
             formControlName="latitude">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>Longitude</mat-label>
      <input matInput
             type="text"
             formControlName="longitude">
    </mat-form-field>

    <!-- ------ ENDEREÇO ------ -->

    <h2 fxFlex="100%"
        class="sub-title">Dados de Auditoria</h2>

    <span fxFlex="100%"
          fxLayout="row layout-wrap"
          fxLayoutGap="42px">

      <mat-form-field fxFlex="25%"
                      appearance="outline">
        <mat-label>Data de Cadastro</mat-label>
        <input matInput
               type="text"
               dateDirective
               [inputDate]="cfc.dataCadastro"
               formControlName="dataCadastro">
      </mat-form-field>

      <mat-form-field fxFlex="55%"
                      appearance="outline">
        <mat-label>Usuário de Cadastro</mat-label>
        <input matInput
               type="text"
               formControlName="usuarioCadastro">
      </mat-form-field>
      <mat-form-field fxFlex="25%"
                      appearance="outline">
        <mat-label>Data de Alteração</mat-label>
        <input matInput
               type="text"
               dateDirective
               [inputDate]="cfc.dataAlteracao"
               formControlName="dataAlteracao">
      </mat-form-field>

      <mat-form-field fxFlex="55%"
                      appearance="outline">
        <mat-label>Usuário de Alteração</mat-label>
        <input matInput
               type="text"
               formControlName="usuarioAlteracao">
      </mat-form-field>

      <mat-form-field fxFlex="25%"
                      appearance="outline">
        <mat-label>Data Diário</mat-label>
        <input matInput
               type="text"
               dateDirective
               [inputDate]="cfc.dataDiario"
               formControlName="dataDiario">
      </mat-form-field>

      <mat-form-field fxFlex="25%"
                      appearance="outline">
        <mat-label>Data de Validação</mat-label>
        <input matInput
               type="text"
               dateDirective
               [inputDate]="cfc.dataValidade"
               formControlName="dataValidade">
      </mat-form-field>
    </span>

  </form>
</section>
