@font-face {
  font-family: AvenirCondensed;
  src: url('/assets/fonts/AvenirCondensed/regular/avenir-next-lt-pro-bold-condensed.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

