<section class="acd">

  <app-header-inside-page> </app-header-inside-page>

  <div fxLayout="row layout-wrap"
       fxLayoutAlign='end center'>
    <button aria-label="voltar"
            color="primary"
            mat-stroked-button
            type="button"
            (click)="back()">
      <mat-icon>keyboard_backspace</mat-icon>
      VOLTAR
    </button>
  </div>

  <mat-divider class="w-100 my-3"></mat-divider>

  <form [formGroup]="formClass"
        fxLayout="row layout-wrap"
        fxLayoutAlign='start start'>

    <div fxFlex="50%"
         fxLayout="row layout-wrap"
         fxLayoutAlign='space-between start'
         class="pr-4 acd__box-left">

      <h1 class="w-100">Dados do Agendamento</h1>

      <mat-form-field appearance="outline"
                      fxFlex="45%"
                      fxFlex.gt-lg="32%">
        <mat-label>LIMITE PARTICIPANTES</mat-label>
        <input matInput
               type="number"
               formControlName="limiteParticipantes">
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="45%"
                      fxFlex.gt-lg="32%">
        <mat-label>SITUAÇÃO</mat-label>
        <input matInput
               type="string"
               formControlName="situacao">
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="45%"
                      fxFlex.gt-lg="32%">
        <mat-label>TIPO</mat-label>
        <input matInput
               type="string"
               formControlName="tipoAulaId">
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="66%"
                      fxFlex.gt-lg="66%">
        <mat-label>CFC</mat-label>
        <input matInput
               type="text"
               formControlName="cfc">
      </mat-form-field>

      <span fxFlex="32%"
            class="my-3">
        <mat-checkbox color="primary"
                      formControlName="permiteCancelamento">Permite Cancelamento</mat-checkbox>
      </span>

      <mat-form-field appearance="outline"
                      fxFlex="100%"
                      fxFlex.gt-lg="100%">
        <mat-label>INSTRUTOR</mat-label>
        <input matInput
               type="text"
               formControlName="instrutor">
      </mat-form-field>
    </div>

    <div fxFlex="50%"
         fxLayout="row layout-wrap"
         fxLayoutAlign='space-between start'
         class="pl-4">

      <div fxFlex="100%">
        <h1>Dados Das Aulas</h1>
      </div>

      <mat-form-field appearance="outline"
                      fxFlex="45%"
                      fxFlex.gt-lg="32%">
        <mat-label>INTERVALO (MINUTOS)</mat-label>
        <input type="number"
               placeholder="Intervalo"
               aria-label="Intervalo"
               matInput
               formControlName="intervalo">
      </mat-form-field>

      <div fxFlex="65%">
        <label class="w-100 d-block mb-2">TURNO</label>
        <mat-radio-group formControlName="turno"
                         color="primary"
                         fxLayout="row"
                         fxLayoutAlign="start center"
                         fxLayoutGap="48px">
          <mat-radio-button value="MANHA">
            MANHÃ
          </mat-radio-button>
          <mat-radio-button value="TARDE">
            TARDE
          </mat-radio-button>
          <mat-radio-button value="NOITE">
            NOITE
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline"
                      fxFlex="45%"
                      fxFlex.gt-lg="32%">
        <mat-label>DATA</mat-label>
        <input type="text"
               placeholder="Data"
               aria-label="Data"
               matInput
               formControlName="agenda">
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="45%"
                      fxFlex.gt-lg="32%">
        <mat-label>INÍCIO</mat-label>
        <input #inicioElement
               aria-label="Início"
               formControlName="inicio"
               matInput
               placeholder="Início"
               type="text"
               [dropSpecialCharacters]="false"
               [mask]="'00:00'">
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="45%"
                      fxFlex.gt-lg="32%">
        <mat-label>FIM</mat-label>
        <input #fimElement
               aria-label="Fim"
               formControlName="fim"
               matInput
               placeholder="Fim"
               type="text"
               [dropSpecialCharacters]="false"
               [mask]="'00:00'">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <app-table-custom [tableData]="tableData"
                        [data]="schedule.aulas"></app-table-custom>
    </div>
  </form>
</section>
