.financial-release {
  &__header {
    color: var(--primary);
  }

  &__content {
    width: 600px;
  }

  &__cell {
    &--center {
      text-align: center;
    }
  }

  &__status {
    color: var(--white);
    background-color: var(--primary);
    &--P {
      background-color: var(--success);
    }

    &--V {
      background-color: var(--error);
    }

    &--A {
      background-color: var(--primary);
    }
  }
}

.mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-cell {
  font-size: 12px;
}

.mat-icon {
  font-size: 24px !important;
}
