<div class="expansive-table"
     [ngStyle]="tableContent.width ? { 'width': tableContent.width } : { 'width': '100%' } "
     [ngClass]="tableContent.class ? tableContent.class : ''">

  <div class="expansive-table__title"
       fxLayout="row layout-wrap"
       fxLayoutAlign="space-between center">
    <div fxFlex="50%"
         class="expansive-table__title-text">
      <span class="expansive-table__title-text w-100 d-block"
            *ngIf="tableContent.title">{{tableContent.title}}</span>
      <span class="w-100 d-block"
            *ngIf="tableContent.subTitle">{{tableContent.subTitle}}</span>
    </div>
    <div fxFlex="50%"
         fxLayoutAlign="end start"
         class="expansive-table__title-right">
      <ng-content> </ng-content>
    </div>
  </div>

  <div class="loading-div w-100"
       *ngIf="loading"
       fxLayout="row"
       fxLayoutAlign="center center">
  </div>

  <table #table
         mat-table
         multiTemplateDataRows
         [ngClass]="{'expansive-table__hidden' : loading}"
         [dataSource]="filtereItens">

    <ng-container matColumnDef="{{itemColumn}}"
                  *ngFor="let itemColumn of tableContent.columns">

      <th mat-header-cell
          *matHeaderCellDef>{{ tableContent.columnData[itemColumn].header }}</th>

      <td mat-cell
          *matCellDef="let itemDataSource">

        <span *ngIf="tableContent.columnData[itemColumn].type === 'string'">
          <ng-container *ngIf="tableContent.columnData[itemColumn].pipe; else noPipe">

            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'cpf'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | cpf }}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'cnpj'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | cnpj }}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'currency'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | currency:'BRL':'symbol':'1.2-2'}}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'date'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | date:'dd/MM/yyyy'}}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'dateAndTime'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | dateAndTime}}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'dateToFront'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | dateToFront}}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'name'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | formatName }}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'situationPayment'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | situationPipe }}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'situationRegistration'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | situationRegistration }}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'timeToFront'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | timeToFront }}
            </span>
            <span *ngIf="tableContent.columnData[itemColumn].pipe === 'truefalse'">
              {{itemDataSource[tableContent.columnData[itemColumn].element] | truefalse }}
            </span>
          </ng-container>
          <ng-template #noPipe>
            {{ itemDataSource[tableContent.columnData[itemColumn].element] }}
          </ng-template>
        </span>

        <span *ngIf="tableContent.columnData[itemColumn].type === 'object'">
          {{getFromObject(itemDataSource, tableContent.columnData[itemColumn].element)}}
        </span>

        <span *ngIf="tableContent.columnData[itemColumn].type === 'buttons'">
          <ng-container *ngIf="tableContent.columnData[itemColumn].buttonType === 'stroked'; else raised">
            <button *ngFor="let item of tableContent.columnData[itemColumn].buttons"
                    color="primary"
                    mat-stroked-button
                    class="expansive-table__button mr-1"
                    matTooltipPosition="above"
                    [matTooltip]="item.tooltip ? item.tooltip : ''"
                    [disabled]="item.disabled ? item.disabled(itemDataSource) : false"
                    (click)="item.onClick(itemDataSource, $event)">
              <span *ngIf="item.icon">
                <mat-icon>{{item.icon}}</mat-icon>
              </span>
              <span *ngIf="item.label">
                {{item.label}}
              </span>
            </button>
          </ng-container>

          <ng-template #raised>
            <ng-container *ngIf="tableContent.columnData[itemColumn].buttonType === 'raised'; else icons">
              <button *ngFor="let item of tableContent.columnData[itemColumn].buttons"
                      class="expansive-table__button mr-1"
                      color="primary"
                      mat-raised-button
                      matTooltipPosition="above"
                      [disabled]="item.disabled ? item.disabled(itemDataSource) : false"
                      [matTooltip]="item.tooltip ? item.tooltip : ''"
                      (click)="item.onClick(itemDataSource, $event)">
                <span *ngIf="item.icon">
                  <mat-icon>{{item.icon}}</mat-icon>
                </span>
                <span *ngIf="item.label">
                  {{item.label}}
                </span>
              </button>
            </ng-container>
          </ng-template>

          <ng-template #icons>
            <ng-container *ngIf="tableContent.columnData[itemColumn].buttonType === 'icons'">
              <button *ngFor="let item of tableContent.columnData[itemColumn].buttons"
                      class="expansive-table__button mr-1"
                      color="primary"
                      mat-icon-button
                      matTooltipPosition="above"
                      [matTooltip]="item.tooltip ? item.tooltip : ''"
                      [disabled]="item.disabled ? item.disabled(itemDataSource) : false"
                      (click)="item.onClick(itemDataSource, $event)">
                <mat-icon>{{item.icon}}</mat-icon>
              </button>
            </ng-container>
          </ng-template>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <app-table-custom [tableData]="tableExpansiveContent"
                            [data]="element[tableContent.elementExpansionDataTable]"
                            class="pt-2 mt-2 table w-100">
          </app-table-custom>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row
        *matRowDef="let element; columns: displayedColumns;"
        class="element-row"
        [class.expanded-row]="expandedElement === element || selectedItem === expandedElement"
        (click)="expandedElement = expandedElement === element ? null : element;">
    </tr>
    <tr mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"></tr>
  </table>

  <mat-paginator [length]="length"
                 [pageSize]="tableContent.pageSize"
                 [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

  <ng-template #noDataWithoutLoading>
    <ng-container *ngIf="!loadData; else noDataLoading">
      <mat-divider class="mb-3"></mat-divider>
      <div class="txt-center"
           *ngIf="tableContent && tableContent.result && tableContent.result.defaultMessage;">
        {{tableContent.result.defaultMessage}}
      </div>
      <div class="txt-center"
           *ngIf="tableContent && !tableContent.result && !tableContent.result.defaultMessage;">
        Realize uma busca para exibir a listagem.
      </div>
    </ng-container>
  </ng-template>

  <ng-template #noDataLoading>
    <ng-container *ngIf="loadData; else default">
      <mat-divider class="mb-3"></mat-divider>
      <div class="txt-center"
           *ngIf="tableContent && tableContent.result && tableContent.result.noData">
        {{tableContent.result.noData}}
      </div>
      <div class="txt-center"
           *ngIf="tableContent && !tableContent.result && !tableContent.result.noData">
        Não foram encontrados resultados para sua pesquisa.
      </div>
    </ng-container>
  </ng-template>

  <ng-template #default>
    <ng-container>
      <div class="txt-center">
        Não existe dados para serem exibidos.
      </div>
    </ng-container>
  </ng-template>
</div>
