<div fxLayout="row layout-wrap"
     fxLayoutGap="24px"
     fxLayoutAlign='space-between start'
     class="pb-4 w-100 hip__buttons"
     *ngIf="buttons && buttons.showButtons">
  <div fxLayout="row layout-wrap"
       fxLayoutAlign='space-between start'
       fxLayoutGap="24px"
       *ngIf="object">
    <button *ngIf="!object[buttons.propertyId] && buttons.create"
            aria-label="Adicionar"
            color="primary"
            mat-raised-button
            [disabled]="!valid"
            (click)="buttonsEmmiter.emit(events.CREATE)">
      <mat-icon>save</mat-icon>
      ADICIONAR
    </button>
    <button *ngIf="object[buttons.propertyId] && disabled && buttons.update"
            aria-label="Salvar"
            mat-raised-button
            color="primary"
            [disabled]="!valid"
            (click)="buttonsEmmiter.emit(events.UPDATE)">
      <mat-icon>save</mat-icon>
      SALVAR
    </button>
    <button *ngIf="object[buttons.propertyId] && !disabled && buttons.update"
            aria-label="Editar"
            color="primary"
            mat-raised-button
            (click)="buttonsEmmiter.emit(events.EDIT)">
      <mat-icon>edit_note</mat-icon>
      EDITAR
    </button>
    <button *ngIf="object[buttons.propertyId] && disabled && buttons.update"
            aria-label="Cancelar"
            color="primary"
            mat-stroked-button
            (click)="buttonsEmmiter.emit(events.CANCEL)">
      <mat-icon>close</mat-icon>
      CANCELAR
    </button>
    <button *ngIf="object[buttons.propertyId] && !object[buttons.propertyActive] && !disabled && buttons.enable"
            aria-label="Habilitar"
            color="primary"
            mat-raised-button
            (click)="buttonsEmmiter.emit(events.ENABLE)">
      <mat-icon>check_circle</mat-icon>
      HABILITAR
    </button>
    <button *ngIf="object[buttons.propertyId]  && object[buttons.propertyActive] && !disabled && buttons.enable"
            aria-label="Desabilitar"
            color="primary"
            mat-raised-button
            (click)="buttonsEmmiter.emit(events.ENABLE)">
      <mat-icon>unpublished</mat-icon>
      DESABILITAR
    </button>
    <button *ngIf="object[buttons.propertyId] && !disabled && buttons.delete"
            aria-label="Deletar"
            color="primary"
            mat-raised-button
            (click)="buttonsEmmiter.emit(events.DELETE)">
      <mat-icon>delete</mat-icon>
      DELETAR
    </button>
    <ng-content>

    </ng-content>
  </div>

  <button *ngIf="buttons.back"
          aria-label="voltar"
          class="mr-0 hip__back"
          color="primary"
          fxFlexAlign="end"
          mat-stroked-button
          type="button"
          (click)="buttonsEmmiter.emit(events.BACK)">
    <mat-icon>keyboard_backspace</mat-icon>
    VOLTAR
  </button>
  <mat-divider class="w-100 mt-3"></mat-divider>
</div>
