<section>
  <app-header-inside-page></app-header-inside-page>
  <app-header-buttons [buttons]="buttons"
                      [disabled]="disabled"
                      [object]="marcacaoExameDisponibilidadeBloqueio"
                      [valid]="form.valid"
                      (buttonsEmmiter)="buttonsActions($event)"> </app-header-buttons>
  <form [formGroup]="form"
        fxLayout="row layout-wrap"
        fxLayoutAlign="space-between start">

    <div class="pos-relative"
         fxFlex="50%">
      <app-local-autocomplete class="auto-complete"
                              formControlName="locaisExames"
                              [fControl]="form.controls.locaisExames">
      </app-local-autocomplete>
    </div>

    <div class="pos-relative"
         fxFlex="24%">
      <app-tipo-de-exame class="auto-complete"
                         formControlName="tiposExames"
                         [fControl]="form.controls.tiposExames">
      </app-tipo-de-exame>
    </div>

    <mat-form-field fxFlex="24%"
                    appearance="outline">
      <mat-label>STATUS</mat-label>
      <input matInput
             type="text"
             formControlName="ativo">
    </mat-form-field>

    <mat-form-field fxFlex="40%"
                    appearance="outline">
      <mat-label>OBSERVAÇÃO</mat-label>
      <input matInput
             type="text"
             formControlName="observacao">
    </mat-form-field>

    <mat-form-field fxFlex="15%"
                    appearance="outline"
                    class="mb-3">
        <mat-label>DATA INICIAL</mat-label>
        <input matInput
               [matDatepicker]="pickerInicio"
               formControlName="dataInicio">
        <mat-datepicker-toggle matSuffix
                               [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="15%"
                    appearance="outline"
                    class="mb-3">
        <mat-label>DATA FINAL</mat-label>
        <input matInput
               [matDatepicker]="pickerFim"
               formControlName="dataFim">
        <mat-datepicker-toggle matSuffix
                               [for]="pickerFim"></mat-datepicker-toggle>
        <mat-datepicker #pickerFim></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="15%"
                    appearance="outline">
      <mat-label>HORÁRIO</mat-label>
      <input matInput
             type="text"
             formControlName="horario">
    </mat-form-field>

    <button mat-raised-button
            matSuffix
            color="primary"
            class="mt-3"
            [disabled]="!disabled"
            (click)="openPlaces()">
      <mat-icon>search</mat-icon>
      HORÁRIOS
    </button>

    <div fxFlex="20%">
      <mat-label>TURNO</mat-label>
      <section fxLayoutAlign="start center"
               fxLayoutGap="48px"
               fxLayout="row">
        <mat-checkbox formControlName="manha"
                      color="primary">Manhã</mat-checkbox>
        <mat-checkbox formControlName="tarde"
                      color="primary">Tarde</mat-checkbox>
        <mat-checkbox formControlName="noite"
                      color="primary">Noite</mat-checkbox>
      </section>
    </div>


    <div fxFlex="75%">
      <mat-label>DIAS DA SEMANA</mat-label>
      <section fxLayoutAlign="start center"
               fxLayoutGap="36px"
               fxLayout="row">
        <mat-checkbox formControlName="segunda"
                      color="primary">Segunda-Feira</mat-checkbox>
        <mat-checkbox formControlName="terca"
                      color="primary">Terça-Feira</mat-checkbox>
        <mat-checkbox formControlName="quarta"
                      color="primary">Quarta-Feira</mat-checkbox>
        <mat-checkbox formControlName="quinta"
                      color="primary">Quinta-Feira</mat-checkbox>
        <mat-checkbox formControlName="sexta"
                      color="primary">Sexta-Feira</mat-checkbox>
        <mat-checkbox formControlName="sabado"
                      color="primary">Sábado</mat-checkbox>
        <mat-checkbox formControlName="domingo"
                      color="primary">Domingo</mat-checkbox>
      </section>
    </div>
  </form>
</section>
