:host {
  .locais-dialog {
    .mat-dialog-content {
      margin: 0;
      padding: 24px;
    }
    &__title {
      font-family: Avenir;
      color: var(--primary);
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 49px;
      margin: 0;
    }
    &__title-box {
      padding: 24px;
    }

    &__sub-title-box {
      height: 100px;
      width: 100%;
      background-color: rgba(var(--primary-rgb), 0.5);
      padding: 25px;
    }

    &__sub-title-text {
      font-family: AvenirCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: rgba(65, 65, 65, 0.5);
    }

    &__description {
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 25px;
      color: var(--primary);
    }

    &__content {
      padding: 25px 25px 0 25px;
      width: 100%;
    }

    &__actions {
      padding: 20px 25px 10px;
      width: 100%;
    }

    &__cancel {
      text-decoration: underline;
    }
  }
}

::ng-deep .mat-dialog-container {
  padding: 0;
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  border-radius: 15px;
}
