<section class="p-5">
  <div fxLayout="column"
       fxLayoutAlign='start start'>
    <h1 class="w-100 generic-info__title">Instrutures vinculados ao CFC</h1>
    <span class="w-100 generic-info__text">Aqui você visualiza todos os instrutores vinculados ao CFC.</span>
    <span class="w-100 generic-info__text">Para adiconar um novo instrutor, clique em <strong>Adicionar</strong> para
      ser redirecionado para a página de adição de instrutores.</span>
    <span class="w-100 generic-info__text">Para vincular um instrutor já cadastrado ao CFC, clique
      <strong>Vincular.</strong></span>

  </div>
  <div fxLayout="row layout-wrap"
       fxLayoutGap="24px"
       fxLayoutAlign='start start'
       class="pt-4 w-100 hip__buttons">
    <button aria-label="Adicionar"
            color="primary"
            mat-raised-button
            (click)="add()">
      <mat-icon>add_circle_outline</mat-icon>
      ADICIONAR
    </button>
    <button aria-label="Salvar"
            mat-raised-button
            color="primary"
            (click)="link()">
      <mat-icon>check_circle</mat-icon>
      VINCULAR
    </button>
  </div>
  <mat-divider class="w-100 my-3"></mat-divider>

  <app-table-custom [tableData]="tableCustom"
                    [data]="instructors">
  </app-table-custom>
</section>
