:host {
  .filter {
    z-index: 100;
    width: 500px;
    height: calc(100vh - 204px);
    top: 150px;
    right: -512px;
    background-color: var(--white);
    border: 2px solid var(--primary);
    position: absolute;
    transition-duration: 0.7s;
    &__box {
      &-title {
        position: relative;
        overflow-y: scroll;
      }

      &-button {
        position: absolute;
        right: 25px;
        top: 25px;
      }
    }

    &__button {
      background-color: var(--primary);
      color: var(--white);
      font-weight: bold;
      width: 100%;
      padding: 10px;
      text-align: center;
      &:hover {
        cursor: pointer;
        background-color: rgba(var(--primary-rgb), 0.9);
      }

      &-clear {
        &:hover {
          cursor: pointer;
        }
      }
    }

    h1 {
      color: var(--primary);
    }
    .mat-button.mat-primary {
      padding: 0;
    }
    .mat-mini-fab.mat-primary {
      color: var(--white) !important;
    }
    .mat-form-field-wrapper {
      padding: 1 0 !important;
    }

    @media screen and (max-height: 625px) {
      top: 0;
      height: 100vh;
    }
  }
  ::ng-deep {
    .mat-form-field {
      &:hover {
        .mat-select-arrow-wrapper {
          border-left-color: transparent !important;
          .mat-select-arrow {
            display: none;
          }
        }
      }
    }
    .mat-select-arrow-wrapper {
      border-left-color: transparent !important;
      .mat-select-arrow {
        display: none;
      }
    }
  }
}
