.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    h5 {
        margin: 0;
    }
}

table {
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

.category {
    button {
        margin-right: 3px;
    }
}