.prices {
    .old {
        color: gray;
        font-size: 12px;
        text-decoration: line-through;
        margin-right: 10px;
    }

    .new {
        font-size: 24px;
        font-weight: bold;
    }
}