:host {
  .cp {
    &__box {
      border: 1px solid var(--secondary);
      border-radius: 15px;
      box-sizing: border-box;
    }

    &__data {
      padding: 25px;
      width: 100%;
    }

    &__line1 {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: var(--text-color);
    }

    &__line2 {
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      color: var(--primary);
    }

    &__line3 {
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      color: var(--text-color);
    }
  }

  ::ng-deep .mat-tab-group {
    .mat-tab-header {
      .mat-tab-label-container {
        .mat-tab-list {
          .mat-tab-labels {
            .mat-tab-label {
              width: 33.33% !important;
              height: 40px !important;
              background-color: var(--primary) !important;
              color: var(--white) !important;

              &.mat-tab-label-active {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep .cp_header .hip__buttons {
    justify-content: flex-end !important;
  }
}
