:host {
  .cancel-schedule-dialog {
    &__title {
      font-family: Avenir;
      color: var(--primary);
      font-weight: 300;
      font-size: 36px;
      line-height: 49px;
      margin: 10px 0 10px 25px;
    }

    &__box {
      height: auto;
      width: 100%;
      background-color: rgba(var(--secondary-rgb), 0.5);
      padding: 13px 25px;
      &-type {
        font-family: AvenirCondensed;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: rgba(65, 65, 65, 0.5);
      }
      &-model {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
      }
      &-schedule {
        font-family: Avenir;
        color: var(--primary);
        font-weight: 300;
        font-size: 20px;
      }
    }

    &__content {
      padding: 25px 25px 0 25px;
      width: 100%;
      &-confirm {
        font-weight: bold;
      }
    }

    &__actions {
      padding: 0 25px;
      width: 100%;
    }

    &__cancel {
      text-decoration: underline;
    }
  }
}

::ng-deep .mat-dialog-container {
  padding-right: 0;
  padding-left: 0;
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  border-radius: 15px;
}
