<section class="cancel-schedule-dialog">
  <h1 mat-dialog-title
      fxFlexAlign="start"
      class="cancel-schedule-dialog__title">Cancelar</h1>
  <div class="cancel-schedule-dialog__box"
       fxLayout="column"
       fxLayoutAlign="start start">
    <span class="cancel-schedule-dialog__box-type">{{data.tipo}}</span>
    <span class="cancel-schedule-dialog__box-model">{{data.schedule.modelo}}</span>
    <span class="cancel-schedule-dialog__box-schedule">{{data.schedule.agenda | dateAndTime}}</span>
  </div>
  <div class="cancel-schedule-dialog__content"
       fxLayout="column"
       fxLayoutAlign="center center">
    <p class="txt-center">
      O cancelamento desta aula pelo CFC irá acrescentar 01 crédito para o aluno.
    </p>
    <p class="cancel-schedule-dialog__content-confirm">
      Deseja continuar com o cancelamento?
    </p>

  </div>
  <mat-dialog-actions align="end"
                      class="cancel-schedule-dialog__actions w-100"
                      fxLayout="row"
                      fxLayoutAlign="space-between center">
    <button class="cancel-schedule-dialog__cancel"
            mat-dialog-close
            mat-button>Cancelar Depois</button>
    <button [mat-dialog-close]="true"
            class="cancel-schedule-dialog__confirm"
            mat-raised-button
            type="submit"
            color="primary">
      <mat-icon>highlight_off</mat-icon>
      CANCELAR
    </button>
  </mat-dialog-actions>
</section>
