<div class="module-header pl-5 pr-5 pt-2 pb-2"
     fxLayout="row"
     fxLayoutAlign="space-between">
  <div fxLayout="column"
       fxLayoutAlign="space-around"
       fxLayoutGap="gappx">
    <div class="module-header__module-name"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="gappx">
      <mat-icon class="mr-1">{{moduleIcon}}</mat-icon>
      <div>{{moduleName}}</div>
    </div>
    <div class="module-header__route-title">
      <span class="module-header__route-title-itens">
        <span class="module-header__route-title-itens-home"
              (click)="goHome()">Home</span>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span>{{title}}</span>
      </span>
    </div>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="center">
    <img class="module-header__logo"
         src="../../../../assets/images/png/logo.png" />
  </div>
</div>
