.module-header {
  background-color: var(--primary-light);
  height: 100px;
  &__module-name {
    color: var(--text-color);
    font-weight: bold;
  }

  &__route-title {
    color: var(--primary);
    font-size: 36px;
    &-itens {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &-home {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  &__logo {
    width: 150px;
  }
}
