<mat-form-field appearance="outline"
                class="w-100"
                [ngClass]="{'has-content' : this.fControl.value}">
  <mat-label>CFC</mat-label>
  <input type="text"
         placeholder="CFC"
         aria-label="CFC"
         matInput
         [formControl]="fControl"
         [matAutocomplete]="auto">
  <mat-icon class="autocomplete-icon-select"
            *ngIf="!this.fControl.value"
            matSuffix>keyboard_arrow_down</mat-icon>

  <mat-icon class="autocomplete-icon-select"
            *ngIf="this.fControl.value"
            (click)="clearCfc($event)"
            matSuffix>clear</mat-icon>

  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="getCfcName"
                    appearance="outline">
    <mat-option *ngFor="let cfc of filteredCfcs | async"
                [value]="cfc">
      {{cfc.nomeFantasia}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
