:host {
  section {
    padding: 3rem;
  }

  .mat-form-field {
    width: 500px;
  }

  .sales-table {
    margin: 0 auto;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    color: var(--primary);
    font-size: 18px;
    padding: 20px 0;
  }

  .mat-table {
    width: 100%;

    .mat-row {
      &.element-row {
        height: 60px;
      }

      &:nth-child(3n) {
        background-color: #f4f4f4;
      }

      &:hover {
        background-color: rgba(var(--secondary-rgb), 0.5);
      }
    }

    .mat-header-row {
      background-color: var(--primary);

      .mat-header-cell {
        font-family: AvenirCondensed;
        font-weight: normal;
        color: var(--white);
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  tr.detail-row {
    height: 0;
    background-color: var(--white) !important;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  .mat-divider {
    border-color: var(--secondary) !important;
  }

  ::ng-deep .mat-column {
    &-gradeDescricao { width: 10%;}
    &-instrutorNome { width: 20%;}
    &-limiteParticipantes { width: 10%;}
    &-agenda { width: 5%;}
    &-inicio { width: 5%;}
    &-fim { width: 5%;}
    &-situacao { width: 10%;}
    &-actions { width: 35%;}

    &-numeroAula { width: 10%;}
    &-cursoDescricao { width: 30%;}
    &-agendamentoAgenda { width: 10%;}
    &-agendamentoAgendaFim { width: 10%;}
    &-agendamentoModelo { width: 10%;}
    &-conteudoProgramatico { width: 30%;}
  }
}
