:host {
  h1 {
    color: var(--primary);
    font-family: AvenirCondensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
  }
  ::ng-deep .mat-button-base {
    padding: 0 15px !important;
  }
}
