<div fxLayout="row"
     fxLayoutAlign="space-between center">
  <div>
    <h1>{{ viewDate | calendarDate: view + 'ViewTitle':locale }} - Exame: {{ exame?.descricao }}</h1>
  </div>
  <div>
    <div>
      <button color="primary"
              mat-raised-button
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="viewDateChange.next(viewDate)">
        Mês Anterior
      </button>
      <button class="mx-2"
              color="primary"
              mat-stroked-button
              mwlCalendarToday
              [(viewDate)]="viewDate"
              (viewDateChange)="viewDateChange.next(viewDate)">
        Hoje
      </button>
      <button color="primary"
              mat-raised-button
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="viewDateChange.next(viewDate)">
        Próximo Mês
      </button>
    </div>
  </div>
</div>
