<section class="dli">
  <h1 mat-dialog-title
      fxFlexAlign="start"
      class="dli__title">VINCULAR INSTRUTOR AO CFC</h1>
  <div class="dli__sub-title-box"
       fxLayout="row"
       fxLayoutAlign="space-between center">
    <span class="dli__sub-title-text"
          *ngIf="!instructorForm.get('instrutor').value">Pesquise o instrutor que você deseja vincular ao CFC.</span>
    <span class="dli__sub-title-text"
          *ngIf="instructorForm.get('instrutor').value && instructorForm.get('instrutor').value != 'erro'">Instrutor
      encontrado.</span>
    <span class="dli__sub-title-text"
          *ngIf="instructorForm.get('instrutor').value && instructorForm.get('instrutor').value == 'erro'">Não foi
      encontrado um instrutor para esse cpf.</span>
  </div>
  <form class="dli__content"
        [formGroup]="instructorForm">
    <div *ngIf="!instructorForm.get('instrutor').value"
         fxLayout="row"
         fxLayoutAlign="start center">
      <mat-form-field fxFlex="50%"
                      appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput
               type="text"
               formControlName="cpf"
               appCpfValidator
               [mask]="'000.000.000-00'">
      </mat-form-field>
    </div>
    <div *ngIf="instructorForm.get('instrutor').value"
         fxLayout="row"
         fxLayoutAlign="start center">
      <div fxFlex="100%"
           fxLayout="column"
           fxLayoutAlign="start start">
        <span class="cp__line1">NOME</span>
        <span class="cp__line2">{{instructor.nome}}</span>
      </div>
      <div fxFlex="100%"
           fxLayout="column"
           fxLayoutAlign="start start">
        <span class="cp__line1">ATIVO</span>
        <span class="cp__line2">{{instructor.ativo | truefalse}}</span>
      </div>
    </div>

  </form>
  <mat-dialog-actions align="end"
                      class="dli__actions w-100"
                      fxLayout="row"
                      fxLayoutAlign="space-between center">
    <button class="dli__cancel"
            mat-dialog-close
            mat-button>Cancelar</button>
    <button *ngIf="instructorForm.get('instrutor').value"
            (click)="newFind()"
            class="dli__confirm"
            mat-stroked-button
            type="submit"
            color="primary">
      <mat-icon>search</mat-icon>
      NOVA PESQUISA
    </button>
    <button *ngIf="instructorForm.get('instrutor').value"
            (click)="selectInstructor()"
            class="dli__confirm"
            mat-raised-button
            type="submit"
            color="primary">
      <mat-icon>check</mat-icon>
      VINCULAR
    </button>

    <button (click)="find()"
            class="dli__confirm"
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="instructorForm.invalid"
            *ngIf="!instructorForm.get('instrutor').value">
      <mat-icon>search</mat-icon>
      PESQUISAR
    </button>
  </mat-dialog-actions>
</section>
