<section class="w-100 h-100"
         fxLayout="row layout-wrap"
         fxLayoutAlign="center center">
  <div fxLayout="column layout-wrap"
       fxLayoutAlign="center center"
       fxFlex="80%">
    <h2>
      Caro associado,
    </h2>
    <h1>
      SUSPENSÃO TEMPORÁRIA DE SERVIÇOS/ATENDIMENTOS
    </h1>
    <h2>
      Existem mensalidades associativas em aberto do CFC. Gentileza contactar o setor financeiro através do zap dinâmico 71 991522596 (opção Financeiro) ou e-mail financeiro@sindautobahia.com.br para regularização.
    </h2>
    <h2>
      Att, SINDAUTO BA
    </h2>
    <button mat-raised-button
            color="primary"
            [routerLink]="'home'">
      <mat-icon>keyboard_backspace</mat-icon>
      VOLTAR
    </button>
  </div>
</section>
