.candidate-register {
  padding: 25px;

  &__line1 {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--text-color);
  }

  &__line2 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary);
  }

  &__input-left {
    margin-right: 4%;
  }

  &__avatar {
    border: 1px solid var(--secondary);
  }

  &__avatar-image {
    width: 200px;
  }

  &__button {
    min-width: 75% !important;
  }

}
