:host {
  .table-custom {
    margin: 0 auto;
    border: 1px solid var(--secondary) !important;
    border-radius: 15px;
    color: var(--primary);
    padding: 20px 0;
    &__title {
      padding: 0 20px 10px;
      &-text {
        font-weight: bold;
      }
    }
    &__button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .mat-table {
    width: 100%;
    .mat-row {
      .mat-cell {
        font-size: 12px !important;
      }
      &.element-row {
        height: 60px;
      }
      &:nth-child(even) {
        background-color: #f4f4f4;
      }
      &:hover {
        background-color: rgba(var(--secondary-rgb), 0.5);
        .table-custom__button-icon {
          background-color: rgba(var(--primary-rgb), 0.5);
          color: var(--white);
        }
      }
    }

    .mat-header-row {
      background-color: var(--primary);

      .mat-header-cell {
        font-family: AvenirCondensed;
        font-weight: normal;
        color: var(--white);
        font-size: 14px !important;
        line-height: 19px;
      }
    }
  }

  .mat-divider {
    border-color: var(--secondary) !important;
  }

  tr.detail-row {
    height: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  .element-description {
    padding: 16px;
  }

  .element-description-attribution {
    opacity: 0.5;
  }

  ::ng-deep .mat-sort-header-arrow {
    color: var(--white) !important;
  }
}
