<section>
       <app-header-inside-page></app-header-inside-page>
       <app-header-buttons [buttons]="buttons"
                           [disabled]="disabled"
                           [object]="tipoDeLancamento"
                           [valid]="form.valid"
                           (buttonsEmmiter)="buttonsActions($event)"> </app-header-buttons>
     
       <form [formGroup]="form"
             fxLayout="row layout-wrap"
             fxLayoutAlign="space-between start">
     
              <h2 fxFlex="100%"
                     class="sub-title">Dados do Tipo de Lançamento</h2>

            <mat-form-field fxFlex="84%"
                    appearance="outline">
                <mat-label>Descricao</mat-label>
                <input matInput
                    formControlName="descricao" />
            </mat-form-field>

            <span fxFlex="14%"
                  appearance="outline"
                  class="mt-3"
                  [ngStyle]="tipoDeLancamento.id ? {'display' : 'block'} : {'display': 'none'}">
              <mat-checkbox color="primary"
                            formControlName="ativo">ATIVO</mat-checkbox>
            </span>

            <mat-form-field fxFlex="32%"
                    appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                <mat-option *ngFor="let type of types"
                            [value]="type.id">
                    {{type.descricao}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="32%"
                    appearance="outline">
                <mat-label>Grupo de lançamento</mat-label>
                <mat-select formControlName="grupoLancamentoId">
                <mat-option *ngFor="let group of groups"
                            [value]="group.id">
                    {{group.descricao}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="32%"
                    appearance="outline">
                <mat-label>Valor R$</mat-label>
                <input matInput
                    type="number"
                    formControlName="valorPadrao"
                    placeholder="0,00" />
            </mat-form-field>



            <div fxFlex="100%"
                 fxLayout="row layout-wrap"
                 fxLayoutGap="42px"
                 *ngIf="tipoDeLancamento.dataCadastro || tipoDeLancamento.dataAlteracao">
        
              <h2 fxFlex="100%"
                  class="sub-title">Dados de Auditoria</h2>
        
              <mat-form-field fxFlex="25%"
                              appearance="outline"
                              *ngIf="tipoDeLancamento.dataCadastro">
                <mat-label>Data de Cadastro</mat-label>
                <input matInput
                       type="text"
                       dateDirective
                       [inputDate]="tipoDeLancamento.dataCadastro"
                       formControlName="dataCadastro">
              </mat-form-field>
        
              <mat-form-field fxFlex="55%"
                              appearance="outline"
                              *ngIf="tipoDeLancamento.dataCadastro">
                <mat-label>Usuário de Cadastro</mat-label>
                <input matInput
                       type="text"
                       formControlName="usuarioCadastro">
              </mat-form-field>
        
              <mat-form-field fxFlex="25%"
                              appearance="outline"
                              *ngIf="tipoDeLancamento.dataAlteracao">
                <mat-label>Data de Alteração</mat-label>
                <input matInput
                       type="text"
                       dateDirective
                       [inputDate]="tipoDeLancamento.dataAlteracao"
                       formControlName="dataAlteracao">
              </mat-form-field>
        
              <mat-form-field fxFlex="55%"
                              appearance="outline"
                              *ngIf="tipoDeLancamento.dataAlteracao">
                <mat-label>Usuário de Alteração</mat-label>
                <input matInput
                       type="text"
                       formControlName="usuarioAlteracao">
              </mat-form-field>
            </div>

        </form>
</section>
