<section class="instructor">
  <app-header-inside-page></app-header-inside-page>
  <app-header-buttons [buttons]="buttons"
                      [disabled]="disabled"
                      [object]="instructor"
                      [valid]="instructorForm.valid"
                      (buttonsEmmiter)="buttonsActions($event)"> </app-header-buttons>

  <form [formGroup]="instructorForm"
        fxLayout="row wrap"
        fxLayoutAlign="space-between start">

    <div class="instructor__box-left"
         fxFlex="15%"
         fxLayout="column"
         fxLayoutAlign="center start">
      <div class="instructor__avatar"
           fxFlex="100%"
           fxLayout="column">
        <img [src]="imageFace"
             class="instructor__avatar-image"
             alt="photo">
      </div>
    </div>

    <div class="instructor__box-right"
         fxFlex="85%"
         fxLayout="row wrap"
         fxLayoutAlign="space-between start">
      <mat-form-field fxFlex="15%"
                      appearance="outline">
        <mat-label>STATUS</mat-label>
        <input formControlName="ativo"
               matInput
               type="text">
      </mat-form-field>
      <mat-form-field fxFlex="84%"
                      appearance="outline">
        <mat-label>NOME</mat-label>
        <input formControlName="nome"
               matInput
               type="text">
      </mat-form-field>
      <mat-form-field fxFlex="24%"
                      appearance="outline">
        <mat-label>CPF</mat-label>
        <input formControlName="cpf"
               matInput
               type="text"
               [mask]="'000.000.000-00'">
      </mat-form-field>
      <mat-form-field fxFlex="24%"
                      appearance="outline">
        <mat-label>CATEGORIA</mat-label>
        <input formControlName="categoria"
               matInput
               type="text">
      </mat-form-field>

      <mat-form-field fxFlex="24%"
                      appearance="outline">
        <mat-label>TIPO INSTRUTOR</mat-label>
        <mat-select formControlName="idTipoInstrutor">
          <mat-option [value]="1">PRÁTICO</mat-option>
          <mat-option [value]="2">TEÓRICO</mat-option>
          <mat-option [value]="3">TEÓRICO/PRÁTICO</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="24%"
                      appearance="outline">
        <mat-label>TELEFONE</mat-label>
        <input formControlName="telefone"
               matInput
               type="text"
               [mask]="'(00) 00000-0000'">
      </mat-form-field>
      <mat-form-field fxFlex="49%"
                      appearance="outline">
        <mat-label>E-MAIL</mat-label>
        <input formControlName="email"
               matInput
               type="text">
      </mat-form-field>
      <mat-form-field fxFlex="49%"
                      appearance="outline">
        <mat-label>E-MAIL REUNIÃO</mat-label>
        <input formControlName="emailReuniao"
               matInput
               type="text">
      </mat-form-field>

    </div>
  </form>
</section>
