:host {
  .instructor {
    &__box {
      &-left {
        height: 100%;
      }
    }
    &__avatar {
      border: 1px solid var(--primary);
      width: 200px;
    }
    &__button {
      min-width: 75% !important;
    }
  }
}
