.products-row {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    nb-card {
        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

            img {
                transform: scale(1.02);
            }
        }

        nb-card-body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: hidden;
            cursor: pointer;

            img {
                object-fit: contain;
                height: 180px;
                width: 100%;
            }
        }
    }
}

.banner {
    img {
        object-fit: cover;
    }
}

nb-badge {
    margin: 10px;
    z-index: 1;
}
