<mat-form-field appearance="outline"
                class="w-100"
                [ngClass]="{'has-content' : this.fControl.value}">
  <mat-label>{{label}}</mat-label>

  <input matInput
         #dateInput
         maxlength="10"
         [value]="dateformat"
         [disabled]="fControl.disabled"
         (keyup)="formatDate(dateInput, $event)">

  <input matInput
         style="display: none;"
         [formControl]="fControl">

  <mat-icon class="buttonclear"
            style="cursor: pointer;"
            *ngIf="dateformat"
            (click)="dateformat = null"
            matSuffix>clear</mat-icon>
</mat-form-field>
