<section>
  <app-header-inside-page> </app-header-inside-page>
  <app-header-buttons [buttons]="buttons"
                      [disabled]="disabled"
                      [object]="groupRelease"
                      [valid]="form.valid"
                      (buttonsEmmiter)="buttonsActions($event)"> </app-header-buttons>

  <form [formGroup]="form"
        class="mt-4"
        fxLayout="row layout-wrap"
        fxLayoutAlign="space-between start">
    <mat-form-field fxFlex="70%"
                    appearance="outline"
                    class="mr-3">
      <mat-label>Descricao</mat-label>
      <input matInput
             formControlName="descricao" />
    </mat-form-field>

    <span fxFlex="25%"
          appearance="outline"
          class="mt-3"
          [ngStyle]="groupRelease.id ? {'display' : 'block'} : {'display': 'none'}">
      <mat-checkbox color="primary"
                    formControlName="ativo">ATIVO</mat-checkbox>
    </span>
  </form>
</section>
