
.mat-calendar-body-cell.selected {
  background-color: var(--secondary) !important;
  border-radius: 50%
}

.drop-calendar {
  width: 20rem
}


.mat-calendar {
  border: 1px solid var(--secondary);
  background: #f4f4f4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}
