nb-badge {
    position: relative;
    width: fit-content;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .current-image {
        border: 1px solid rgb(231, 231, 231);
    }

    .border {
        border: 1px solid #e7e7e7;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        object-fit: cover;
    }
}

.flex-horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

::ng-deep {
    .glide__slides {
        padding: 10px;
    }

    .glide__arrows {
        display: flex !important;
        gap: 10px;
        justify-content: center;
    }
}
