nb-badge {
    position: relative;
    width: fit-content;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .current-image {
        border: 1px solid rgb(231, 231, 231);
    }

    img {
        
        padding: 30px;
        margin: 0 10px;
        object-fit: cover;
    }
}

.flex-horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
