<section class="ad">
  <h1 mat-dialog-title
      fxFlexAlign="start"
      class="ad__title">DETALHES DOS ALERTAS</h1>
  <div class="ad__box"
       fxLayout="column"
       fxLayoutAlign="center start">
    <span>
      <span class="ad__text pr-2">Aluno:</span>
      <span class="ad__text-right">{{ data.class.candidatoModel.nome }}</span>
    </span>
    <span>
      <span class="ad__text pr-2">Matricula:</span>
      <span class="ad__text-right">0123456 </span>
    </span>
    <span>
      <span class="ad__text pr-2">Tópico:</span>
      <span class="ad__text-right">{{ data.class.planoAulaModel.topicoModel.descricao }} </span>
    </span>
    <span>
      <span class="ad__text pr-2">Data: </span>
      <span class="ad__text-right">{{ data.class.dataInicioAula | dateToFront }}</span>
    </span>
  </div>
  <div class="p-2 d-block">
    <app-table-custom [tableData]="tableAlerts"></app-table-custom>
  </div>
  <mat-dialog-actions align="end"
                      class="ad__actions w-100"
                      fxLayout="row"
                      fxLayoutAlign="end center">

    <button [mat-dialog-close]="true"
            class="ad__confirm"
            mat-raised-button
            type="submit"
            color="primary">
      <mat-icon>close</mat-icon>
      FECHAR
    </button>
  </mat-dialog-actions>
</section>
