<section class="gf">
  <app-header-inside-page></app-header-inside-page>
  <app-header-buttons [buttons]="buttons"
                      [disabled]="disabled"
                      [object]="grid"
                      [valid]="form.valid"
                      (buttonsEmmiter)="buttonsActions($event)"> </app-header-buttons>

  <form [formGroup]="form"
        fxLayout="column"
        fxLayout.gt-sm="row layout-wrap"
        fxLayoutAlign="start start">

    <div fxFlex="30%"
         fxLayout="column"
         class="course mb-2">

      <div class="course__field">
        <app-service-schedulling-autocomplete class="auto-complete"
                                              formControlName="servicoId"
                                              [fControl]="form.controls.servicoId">
        </app-service-schedulling-autocomplete>
      </div>

      <label class="w-100 d-block mb-2">TURNO</label>
      <mat-radio-group formControlName="turno"
                       color="primary"
                       fxLayout="row"
                       class="mb-4"
                       (change)="shiftChange($event)"
                       fxLayoutAlign="start center"
                       fxLayoutGap="48px">

        <mat-radio-button value="MANHA">
          MANHÃ
        </mat-radio-button>
        <mat-radio-button value="TARDE">
          TARDE
        </mat-radio-button>
        <mat-radio-button value="NOITE">
          NOITE
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline"
                      class="mb-3 course__field">
        <mat-label>GRADE SERVIÇO</mat-label>
        <mat-select formControlName="gradeServicoId">
          <mat-option *ngFor="let item of servicesGrids"
                      [value]="item.id">
            {{item.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="mb-3 course__field">
        <mat-label>SITUAÇÃO</mat-label>
        <mat-select formControlName="situacao">
          <mat-option *ngFor="let item of situations"
                      [value]="item.enum">
            {{item.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="pos-relative course__field">
        <app-cfc-schedulling-autocomplete class="auto-complete"
                                          formControlName="cfcCnpj"
                                          [fControl]="form.controls.cfcCnpj">
        </app-cfc-schedulling-autocomplete>
      </div>

      <div class="pos-relative course__field mb-3">
        <app-instructor-schedulling-autocomplete class="auto-complete"
                                                 formControlName="instrutorCpf"
                                                 [fControl]="form.controls.instrutorCpf">
        </app-instructor-schedulling-autocomplete>
      </div>
    </div>

    <div fxFlex="30%"
         fxLayoutGap="42px"
         class="date">

      <mat-form-field appearance="outline"
                      class="mb-3">
        <mat-label>DATA INÍCIO</mat-label>
        <input matInput
               [matDatepickerFilter]="helper.daysOfWeek"
               [matDatepicker]="picker"
               formControlName="dataInicio"
               (dateChange)="selectDate($event.value, 9)">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="mb-5">
        <mat-slide-toggle (change)="selectDate(this.form.get('dataInicio').value, 9)"
                          formControlName="indicadorDiasUteis"
                          color="primary">apenas <strong>dias úteis</strong></mat-slide-toggle>
      </div>

      <mat-divider color="accent"
                   class="mb-5"></mat-divider>

      <mat-form-field appearance="outline"
                      class="mb-3 filter__field">
        <mat-label>DESCRIÇÃO</mat-label>

        <input type="text"
               matInput
               formControlName="descricao" />
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="mb-3 course__field">
        <mat-label>MODELO</mat-label>
        <mat-select formControlName="modelo">
          <mat-option *ngFor="let class of classModel"
                      [value]="class.descricao">
            {{class.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h2 class="sub-title mb-3">PARTICIPANTES</h2>

      <label class="w-100 d-block date__candidates">MÁXIMO DE PARTICIPANTES</label>

      <div class="date__slider-box">
        <mat-slider class="date__slider"
                    color="primary"
                    [max]="maxQuantityClass"
                    min="1"
                    step="1"
                    thumbLabel="true"
                    formControlName="qtdMaximoParticipantes"
                    tickInterval="10">
        </mat-slider>

        <span fxLayout="row"
              fxLayoutAlign="space-between start"
              class="date__candidates-scale">
          <span>0</span>
          <span>{{maxQuantityClass}}</span>
        </span>
      </div>
    </div>

    <div fxFlex="40%"
         fxLayoutGap="42px"
         class="distribution-classes">
      <div class="distribution-classes__box">
        <h2 class="sub-title mb-3">DISTRIBUIÇÃO DAS AULAS</h2>

        <app-date-picker-custom [dateList]="classDays"></app-date-picker-custom>

      </div>
    </div>
  </form>
</section>
