:host {
  .pcdd {
    &__title {
      font-family: Avenir;
      color: var(--primary);
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 49px;
      margin: 10px 0 10px 25px;
    }
    &__sub-title-box {
      padding: 25px;
      width: 100%;
      background-color: rgba(var(--secondary-rgb), 0.5);
      border-top: 1px solid var(--primary);
      border-bottom: 1px solid var(--primary);
    }

    &__content {
      padding: 25px;
    }

    &__text {
      font-family: Avenir;
      color: var(--text-color);
      &-left {
        font-weight: bold;
      }
    }

    &__actions {
      padding: 20px 25px 10px;
      width: 100%;
    }

    &__cancel {
      text-decoration: underline;
    }
  }
}

::ng-deep .mat-dialog-container {
  padding-right: 0;
  padding-left: 0;
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  border-radius: 15px;
}
