<section class="pcdd">
  <h1 mat-dialog-title
      fxFlexAlign="start"
      class="pcdd__title">DETALHES DA AULA</h1>
  <div class="pcdd__sub-title-box"
       fxLayout="row"
       fxLayoutAlign="space-between center">
    <span class="pcdd__text">
      <span class="pcdd__text-left">Plano de Aula:</span>
      <span class="pcdd__text-right"> {{ data?.veiculoModel?.modelo }}</span>
    </span>
  </div>
  <div class="pcdd__content"
       fxLayout="column"
       fxLayoutAlign="start start">
    <span class="pcdd__text">
      <span class="pcdd__text-left">Veiculo:</span>
      <span class="pcdd__text-right"> {{ data?.veiculoModel?.modelo }}</span>
    </span>
    <span class="pcdd__text">
      <span class="pcdd__text-left">Placa:</span>
      <span class="pcdd__text-right"> {{ data?.veiculoModel?.placa }}</span>
    </span>
    <span class="pcdd__text">
      <span class="pcdd__text-left">Candidato:</span>
      <span class="pcdd__text-right"> {{ data?.instrutorModel?.nome }}</span>
    </span>
    <span class="pcdd__text">
      <span class="pcdd__text-left">Instrutor:</span>
      <span class="pcdd__text-right"> {{ data?.candidatoModel?.nome }}</span>
    </span>
    <span class="pcdd__text">
      <span class="pcdd__text-left">Início:</span>
      <span class="pcdd__text-right"> {{ data?.dataInicioAula }}</span>
    </span>
  </div>
  <mat-dialog-actions align="end"
                      class="pcdd__actions w-100"
                      fxLayout="row"
                      fxLayoutAlign="end center">

    <button [mat-dialog-close]="true"
            class="vehicle__confirm"
            mat-raised-button
            type="submit"
            color="primary">
      <mat-icon>check</mat-icon> OK
    </button>
  </mat-dialog-actions>
</section>
