<nb-card>
    <nb-card-header>
        <h4>Novo produto</h4>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">


            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label class="label">Título*</label>
                        <input type="text" nbInput fullWidth placeholder="Título" formControlName="title">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="label">Preço*</label>
                        <input type="text" mask="separator.2" thousandSeparator="." prefix="R$ " nbInput fullWidth
                            placeholder="Preço" formControlName="price">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="label">Desconto</label>
                        <input type="text" nbInput fullWidth placeholder="Desconto" formControlName="discount">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="label">Tipo do desconto</label>
                        <nb-select fullWidth placeholder="Tipo do desconto" formControlName="discountType">
                            <nb-option value="value">Valor</nb-option>
                            <nb-option value="percent">Percentual</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="label">Descrição</label>
                        <textarea nbInput fullWidth rows="5" formControlName="description"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label class="label">Categorias</label>
                        <nb-select multiple fullWidth placeholder="Categorias" formControlName="categories">
                            <nb-option value="shoes">Shoes</nb-option>
                            <nb-option value="socks">Socks</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="label">Promoções</label>
                        <nb-select multiple fullWidth placeholder="Promoções" formControlName="promotions">
                            <nb-option [value]="promotion.id" *ngFor="let promotion of promotions">{{promotion.title}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="label">Tamanhos</label>
                        <nb-select multiple fullWidth placeholder="Tamanhos" formControlName="sizes">
                            <nb-option [value]="size" *ngFor="let size of sizes">{{size}}</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="label">Imagens*</label>
                        <textarea nbInput fullWidth rows="3" placeholder="Separe os links com ';'" formControlName="images"></textarea>
                        <label class="label">Separe os links com ';'</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <button nbButton size="small" status="primary" (click)="submit()" [disabled]="form.invalid || !form.dirty">
                            Salvar
                        </button>
                        <button nbButton ghost size="small" routerLink="/admin">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>