/* mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px 0.7em 0px }
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }
mat-form-field.mat-form-field.ng-valid.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix>span.mat-form-field-label-wrapper { top: -2.1em; }
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
 */

mat-form-field {

  .mat-form-field-wrapper {

    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-color: var(--gray-light);
    }
  }

  .mat-form-field-suffix {
    border-left: 1px solid var(--gray-light);

    .mat-icon {
      color: var(--gray-light);
      padding-left: 6px;
    }
  }

  &.ng-valid.ng-dirty {


    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-color: var(--secondary);

    }

    &.content {
      .mat-form-field-outline-gap {
        border-top: none;
      }
    }

    .mat-form-field-infix .mat-select .mat-select-trigger {
      .mat-select-arrow-wrapper {
        border-left-color: var(--secondary);

        .mat-select-arrow {
          &::before {
            border-color: var(--secondary);
          }

          &:after {
            border-color: var(--secondary);
          }
        }
      }
    }

    .mat-form-field-suffix {
      border-left: 1px solid var(--secondary);

      .mat-icon {
        color: var(--secondary);
        padding-left: 6px;
      }
    }
  }

  &.ng-invalid.ng-touched {

    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-color: var(--error);
    }

    .mat-form-field-infix .mat-select .mat-select-trigger {
      .mat-select-arrow-wrapper {
        border-left-color: var(--error);

        .mat-select-arrow {
          &::before {
            border-color: var(--error);
          }

          &:after {
            border-color: var(--error);
          }
        }
      }
    }

    .mat-form-field-suffix {
      border-left: 1px solid var(--error);

      .mat-icon {
        color: var(--error);
        padding-left: 6px;
      }
    }
  }

  &:hover {

    .mat-form-field-wrapper {

      .mat-form-field-outline-start,
      .mat-form-field-outline-end,
      .mat-form-field-outline-gap {
        border-color: var(--primary);

      }
    }

    .mat-form-field-wrapper {
      .mat-form-field-infix .mat-select .mat-select-trigger {

        .mat-select-arrow-wrapper {
          //border-left-color: var(--primary) !important;

          .mat-select-arrow {
            &::before {
              border-color: var(--primary) !important;
            }

            &:after {
              border-color: var(--primary) !important;
            }
          }
        }
      }
    }

    .mat-form-field-suffix {
      border-left: 1px solid var(--primary) !important;

      .mat-icon {
        color: var(--primary) !important;
        padding-left: 6px;
      }
    }
  }
}
