<section>
  <app-header-inside-page class="w-100"> </app-header-inside-page>

  <span class="sub-title mb-3">Selecione as Opções</span>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        fxLayout="column"
        fxLayout.gt-sm="row layout-wrap"
        fxLayoutAlign="start start"
        style="padding-bottom: 10px;"
        fxLayoutGap="24px">

    <div class="pos-relative"
         fxFlex="30%">
      <app-service-schedulling-autocomplete class="auto-complete"
                                formControlName="service"
                                [fControl]="form.controls.service">
      </app-service-schedulling-autocomplete>
    </div>

    <div class="pos-relative"
         fxFlex="30%">
      <app-course-schedulling-autocomplete class="auto-complete"
                               formControlName="course"
                               [fControl]="form.controls.course">
      </app-course-schedulling-autocomplete>
    </div>

    <mat-form-field appearance="outline"
                    class="mb-3"
                    fxFlex="30%">
      <mat-label>AULA</mat-label>
      <mat-select formControlName="class">
        <mat-option *ngFor="let class of classes"
                    [value]="class.id">
          {{class.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="pos-relative"
         fxFlex="30%">
      <app-cfc-schedulling-autocomplete class="auto-complete"
                            formControlName="cfc"
                            [fControl]="form.controls.cfc">
      </app-cfc-schedulling-autocomplete>
    </div>

    <div class="pos-relative"
         fxFlex="30%">
      <app-instructor-schedulling-autocomplete class="auto-complete"
                                   formControlName="instructor"
                                   [fControl]="form.controls.instructor">
      </app-instructor-schedulling-autocomplete>
    </div>

    <div class="filter__field">
      <h2>Mostrar Períodos</h2>
      <section fxLayoutAlign="start center"
               fxLayoutGap="48px"
               class='w-100'
               fxLayout="row"
               fxLayoutAlign="space-between start">
        <mat-checkbox formControlName="morning"
                      color="primary">Manhã</mat-checkbox>
        <mat-checkbox formControlName="evening"
                      color="primary">Tarde</mat-checkbox>
        <mat-checkbox formControlName="night"
                      color="primary">Noite</mat-checkbox>
      </section>
    </div>
    <div class="w-100 txt-center">
      <button mat-raised-button
              color="primary"
              class="mt-4 button">
        <mat-icon> refresh</mat-icon> MOSTRAR AULAS DISPONÍVEIS
      </button>
    </div>
  </form>
  <app-table-custom *ngIf="tableData && tableData.data.length > 0"
                    [tableData]="tableData"></app-table-custom>
</section>
