<mat-form-field appearance="outline"
                class="w-100 course-autocomplete"
                [ngClass]="{'has-content' : this.fControl.value}">
  <mat-label *ngIf="label">CURSO</mat-label>
  <input type="text"
         placeholder="Curso"
         aria-label="Nome do Curso"
         matInput
         [formControl]="fControl"
         [matAutocomplete]="auto">

  <mat-icon class="autocomplete-icon-select"
            *ngIf="!this.fControl.value"
            matSuffix>keyboard_arrow_down</mat-icon>

  <mat-icon class="autocomplete-icon-select"
            *ngIf="this.fControl.value"
            (click)="clearCourse($event)"
            matSuffix>clear</mat-icon>

  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="getCourseName">
    <mat-option *ngFor="let course of filteredCoursers | async"
                [value]="course">
      {{course.nome}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
