@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  header-background-color: #d33939,
  color-primary-400: #d33939,
  color-primary-500: #d33939,

), default, default);
