@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  header-background-color: #d33939,
  color-primary-100: #d33939,
  color-primary-200: #d33939,
  color-primary-300: #d33939,
  color-primary-400: #d33939,
  color-primary-500: #d33939,
  color-primary-600: #d33939,
  color-primary-700: #d33939,
  color-primary-800: #d33939,
  color-primary-900: #d33939,

), default, default);
