<section class="marcacaoExameDisponibilidade">
  <app-header-inside-page></app-header-inside-page>
  <app-header-buttons [buttons]="buttons"
                      [disabled]="disabled"
                      [object]="marcacaoExameDisponibilidade"
                      [valid]="form.valid"
                      (buttonsEmmiter)="buttonsActions($event)"> </app-header-buttons>
  <form [formGroup]="form"
        fxLayout="row layout-wrap"
        fxLayoutAlign="space-between start">

    <div class="pos-relative"
         fxFlex="33%">
      <app-local-autocomplete class="auto-complete"
                              formControlName="locaisExames"
                              [fControl]="form.controls.locaisExames">
      </app-local-autocomplete>
    </div>

    <div class="pos-relative"
         fxFlex="33%">

      <app-tipo-de-exame class="auto-complete"
                         formControlName="tiposExames"
                         [fControl]="form.controls.tiposExames">
      </app-tipo-de-exame>

    </div>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>HORÁRIO</mat-label>
      <input matInput
             type="text"
             formControlName="horario">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>QUANTIDADE DE VAGAS</mat-label>
      <input matInput
             type="text"
             formControlName="quantidadeVagas">
    </mat-form-field>

    <mat-form-field fxFlex="33%"
                    appearance="outline">
      <mat-label>CÓDIGO TURMA</mat-label>
      <input matInput
             type="text"
             formControlName="codigoTurma">
    </mat-form-field>

    <mat-form-field appearance="outline"
                    fxFlex="33%"
                    fxFlex.gt-lg="33%">
      <mat-label>STATUS</mat-label>
      <input matInput
             type="text"
             formControlName="status">
    </mat-form-field>

  </form>
</section>
