:host {
  .relatorio {
    ::ng-deep {
      .mat-table {
        .mat-row {
          .mat-cell {
            font-size: 11px !important;
          }
        }
      }

      .mat-column {
        &-candidatoCpf {
          width: 4vw;
        }

        &-matriculaProcessoRenach {
          width: 4vw;
        }

        &-candidatoNome {
          width: 5vw;
        }

        &-instrutorNome {
          width: 5vw;
        }

        &-cfcNome {
          width: 5vw;
        }

        &-exameDescricao {
          width: 5vw;
        }

        &-localDescricao {
          width: 5vw;
        }

        &-veiculoPlaca {
          width: 4vw;
        }

        &-dataCadastro {
          width: 5vw;
        }

        &-dataHora {
          width: 5vw;
        }

        &-situacao {
          width: 4vw;
        }

        &-retorno {
          width: 7vw;
        }

        &-actions {
          width: 1vw;
        }

        &.cdk-focused {
          background-color: var(--primary) !important;
        }

        &.cdk-mouse-focused {
          background-color: var(--primary) !important;
        }

        &:hover {
          background-color: var(--secondary) !important;
        }
      }

      .candidate-register__input-left {
        width: 200px;
      }
    }
  }
}
