
.footer {
  width: 100vw;
  height: 56px;
  border-top: 4px solid var(--secondary);
  background-color: var(--primary-light);
  position: relative;

  &__label {
    font-size: 12px;
    font-family: 'Avenir';
  }

  &__logo {
    position: absolute;
    right: 30px;
  }
}
