.cash-flow-table {
  border: 1px solid var(--primary);

  &__cell {
    &--center {
      text-align: center;
    }
  }

  &__status {
    color: var(--white);
    background-color: var(--primary);
    &--CR {
      background-color: var(--success);
    }

    &--DB {
      background-color: var(--warning);
    }

  }
}

.mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-cell {
  font-size: 12px;
}

.mat-icon {
  font-size: 24px !important;
}
